{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --black: #000;
  --background: lightblue;
}

body {
  color: var(--black);
  background: var(--background);
}

.box {
  max-width: 800px;
  margin: auto;
  padding: 1rem;
  column-gap: 2rem;
  line-height: 1.4rem;
}

p {
  margin-bottom: 1rem;
}

.content {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.row {
  background: yellow;
}

#header {
  background: hotpink;
  min-width:600px;
  font-size: 30px;
}

#footer {
  background: deeppink;
  font-size: 20px;
  margin: auto;
  padding: 2px;
  text-align: center;
}

#footer2 {
  background: orange;
  font-size: 20px;
  margin: auto;
  padding: 2px;
  text-align: center;
}

.hero-image {
  background-image: url("The Game of Life.png");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
  min-height: 300px;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 4rem;
  font-weight: bold;
}

#gameoflife {
  font-size: 30px;
  color: white;
}

.wheel {
  position: center;
  size: 100px;
}

#header2 {
  background: purple;
  max-width: 700px;
}

.board {
  position: relative;
  top: -900px;
}

.box2 {
  max-width: 100px;
  margin: 10px;
  box-sizing: 10px;
  justify-content: : center;
}

.businesscard {
  position: relative;
}

.cell {
  margin: auto;
}

#header4 {
  font-size: 45px;
}

.box3 {
  text-align:center;
}

.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}

.box4 {
  text-align:center;
  background-color: red;
  font-size: 40px;
}


@media (min-width: 600px) {
.box {
    column-count: 2;
  }
}
